/* ตั้งค่าพื้นหลัง */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("../img/zombie.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* ปุ่มเมนู */
.button {
    display: inline-block;
    padding: 10px 30px;
    background: #d40000;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bold;
    margin: 5px;
    border: 3px solid #ff0000;
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
    transition: 0.25s;
}

.button:hover {
    background: #9b0000;
    box-shadow: 0 0 18px rgba(255, 0, 0, 0.9);
}

/* โลโก้ */
.main-logo {
    width: 600px;
    max-width: 95%;
    display: block;
    margin: 30px auto;
    filter:
      drop-shadow(0 0 5px #ff3300)
      drop-shadow(0 0 12px #ff3300);
}

/* ปุ่มล่าง */
.button-large {
    display: inline-block;
    padding: 12px 35px;
    background: #d40000;
    color: white;
    text-decoration: none;
    font-size: 22px;
    border-radius: 12px;
    font-weight: bold;
    margin: 10px;
    border: 3px solid #ff0000;
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
    transition: 0.25s;
}

.button-large:hover {
    background: #9b0000;
    box-shadow: 0 0 18px rgba(255, 0, 0, 0.9);
}

/* ข้อความเลื่อน */
.scroll-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 10px 0;
}

.scroll-text span {
    display: inline-block;
    padding-left: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;

    animation: scrollLeft 12s linear infinite;
}

/* แอนิเมชันเลื่อนซ้าย */
@keyframes scrollLeft {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
