/* พื้นฐานหน้าเว็บ */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background: url('../img/zombie.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* กล่องครึ่งโปร่ง */
.container {
    background: rgba(0, 0, 0, 0.55);
    padding: 20px;
    margin: 50px auto;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
}

/* ปุ่ม */
a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #ff2e2e;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    transition: 0.3s;
}

a.button:hover {
    background: #ff0000;
}
