body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("../img/zombie.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    margin-top: 40px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #d40000; /* แดงเลือด */
    border: none;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(255,0,0,0.4);
}

button:hover {
    background: #a10000; /* แดงเข้ม */
}
