/* พื้นหลัง */
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;

    background: url('../img/zombie.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* กล่องดำโปร่ง */
.container {
    background: rgba(0, 0, 0, 0.60);
    width: 90%;
    max-width: 600px;
    padding: 25px;
    margin: 40px auto;
    border-radius: 12px;
}

/* ปุ่ม */
.button {
    display: inline-block;
    margin: 8px 5px;
    padding: 10px 22px;
    background: #ff2e2e;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 6px;
    transition: 0.3s;
}

.button:hover {
    background: #ff0000;
}
